@media screen and (min-width:1000px) {
	body {
		background-image: url('spacebg.png');
		font-family:"Courier New", "Ariel";
	}
	
	h1.title {
		display:none;
		color:green;
		margin: 0 auto;
	}
	
	
	.titleWrapper {
		display:none;
		min-width: 1000px;
		max-width: 1250px;
		height:auto;
		margin:auto;
		left:50%;
		background-color:white;
		opacity:0.9;
		text-align:center;
	}
	
	.gameContainer {
		display:none;
		text-align:center;
		width:auto;
		margin:auto;
		left:50%;
		top:50%;
		min-width: 1000px;
		max-width: 1250px;
		background-color:white;
		opacity:0.7;
	}
	
	/*This is stuff for the tab menu at the top. Straight forward stuff.*/
	.tabs {
		display:none;
		align-items:stretch;
		justify-content:space-between;
		overflow:hidden;
		min-width:1000px;
		max-width:1250px;
		margin:auto;
		background-color:white;
	}
	.tabs button {
		min-width:250px;
		max-width:300px;
		flex: 0 1 auto;
		background-color:inherit;
		border:none;
		outline:none;
		cursor:pointer;
		padding:14px 16px;
		transition:0.3s;
	}
	.tabs button:hover {
		background-color:grey;
	}
	.tabs button.active {
		background-color:grey;
	}
	
	/*Loading Screen*/
	.loadGame {
		position:absolute;
		background-color:white;
		width:240px;
		left:50%;
		top:35%;
		transform:translate(-50%, -50%);
		border:solid;
		border-width:5px;
	}
	.loadWheel {
		position:absolute;
		display:block;
		left: 50%;
		top:50%;
		transform:translate(-50%, -50%);
		margin: -75px 0 0 -75px;
		border: 16px solid grey;
		border-radius: 50%;
		border-top: 16px solid green;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	/*Classes for the tabs proper*/
	.pBase {
		display:none;
		top:5%;
		min-height:500px;
		max-height:700px;
		min-width: 1000px;
		max-width: 1250px;
		background-color:white;
		opacity:1;
		margin:auto;
		animation:fadeEffect 1s;
	}
	
	.column {
		padding:10px;
		width:40%;
		max-width:40%;
		max-height:500px;
		overflow-y:auto;
		overflow-x:hidden;
		background-color:white;
		opacity:1;
	}
	
	#leftCol {
		position:absolute;
		width:40%;
		float:left;
		text-align:left;
	}
	
	#rightCol {
		position:inline-block;
		width:40%;
		float:right;
		text-align:right;
	}
	
	/*Forest class*/
	.Forest {
		display:none;
		top:5%;
		min-height:500px;
		max-height:700px;
		min-width: 1000px;
		max-width: 1250px;
		background-color:white;
		opacity:1;
		margin:auto;
		animation:fadeEffect 1s;
	}
	
	.Inventory {
		display:none;
		top:5%;
		min-height:500px;
		max-height:700px;
		min-width: 1000px;
		max-width: 1250px;
		background-color:white;
		opacity:1;
		margin:auto;
		animation:fadeEffect 1s;
	}
	
	.Options {
		display:none;
		top:5%;
		min-height:500px;
		max-height:700px;
		min-width: 1000px;
		max-width: 1250px;
		background-color:white;
		opacity:1;
		margin:auto;
		animation:fadeEffect 1s;
	}
	
	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	
}
/*Max I'm going to be very honest with you, this is only here to do at a later date. Do not do this before the rest of the CSS.*/

@media screen and (min-width:320px) and (max-width:640px) {
	/* CSS for screens > 320 pixels and < 640px*/
	body {
		background-image: url('spacebg.png');
	}
	
	h1.title {
		color:green;
	}
	
	.titleWrapper {
		min-width: 320px;
		max-width: 640px;
		margin:auto;
		left:50%;
		background-color:white;
		opacity:0.9;
		text-align:center;
	}
	
	.gameContainer {
		top:50px;
		left:50%;
		min-width: 320px;
		max-width: 640px;
		background-color:white;
		opacity:0.7;
		border:black;
		margin:auto;
	}
}

@media screen and (min-width:641px) and (max-width: 999px) {
	/*CSS for screen bigger than 641px and < 999px as 1000+ is reserved for monitors*/
	body {
		background-image: url('spacebg.png');
	}
	
	h1.title {
		color:green;
	}
	
	.titleWrapper {
		min-width: 641px;
		max-width: 999px;
		margin:auto;
		left:50%;
		background-color:white;
		opacity:0.9;
		text-align:center;
	}
	
	.gameContainer {
		left:50%;
		min-width: 640px;
		max-width: 999px;
		background-color:white;
		opacity:0.7;
		border:black;
		margin:auto;
	}
	
}